[aws]
aws_access_key_id = "YOUR_AWS_ACCESS_KEY_ID"
aws_secret_access_key = "YOUR_AWS_SECRET_ACCESS_KEY"

[app]
password = "YOUR_APP_PASSWORD"

[JASSO]
user_id = "YOUR_AUTHORIZED_JASSO_USER_ID"
password = "YOUR_JASSO_PASSWORD"
